In [1]:
print("Hello world")

Hello world

**Python**で*人口知能*のコードを書いていきましょう。

1. リスト項目
2. 項目
3. テスト

* 箇条書き

In [2]:
a = 123
print(a)

b = 123.45
print(b)

c = "こんにちは,Python"
print(c)

123
123.45
こんにちは,Python

In [3]:
a = 7
b = 3

c = a + b  # 足し算
print(c)

d = a - b  # 引き算
print(d)

e = a * b  # 掛け算
print(e)

f = a / b  # 割り算（小数）
print(f)

g = a // b  # 割り算（整数）
print(g)

h = a % b  # 余り
print(h)

10
4
21
2.3333333333333335
2
1

In [4]:
c = 3
d = 4

e = c > d  # cがdよりも大きいかどうか
print(e)

f = c < d  # cがdよりも小さいかどうか
print(f)

g = c >= d  # cがd以上かどうか
print(g)

h = c <= d  # cがd以下かどうか
print(h)

i = c == d  # cとdが等しいかどうか
print(i)

j = c != d  # cとdが等しくないか
print(j)

False
True
False
True
False
True

In [5]:
a = [2011, 2012, 2013, 2014, 2015]  # リストの作成

print(a[0])  # 先頭から0番目の要素
print(a[1])  # 先頭から1番目の要素
print(a[2])  # 先頭から2番目の要素

2011
2012
2013

In [6]:
b = 2016
c = [b, 2017, 20.1, "Hello", "Hi"]
print(c[1:4])  # 先頭から1番目以上、4番目未満の範囲

[2017, 20.1, 'Hello']

In [7]:
d =[[2012, 2013, 2014], [2015, 2016, 2017]]
print(d[0])  # 先頭から0番目の要素

[2012, 2013, 2014]

In [8]:
a = [2012, 2013, 2014]  # リスト
b = (2012, 2013, 2014)  # タプル

print(a)
print(b)

print(a[1])
print(b[1])

a[1] = 2016
print(a)

# b[1] = 2016  # エラーが発生
# print(b)

a.append(2015)
print(a)

[2012, 2013, 2014]
(2012, 2013, 2014)
2013
2013
[2012, 2016, 2014]
[2012, 2016, 2014, 2015]

In [9]:
a = {"Taro":1985, "Hanako":1986}  # 辞書の作成
print(a["Taro"])   # "Taro"のキーを持つ値を取得

a["Hanako"] = 1987  # 要素の入れ替え
print(a)

a["Jiro"] = 1989  # 要素の追加
print(a)

1985
{'Taro': 1985, 'Hanako': 1987}
{'Taro': 1985, 'Hanako': 1987, 'Jiro': 1989}

In [10]:
def say_hello():
  print('Hello world')

say_hello()

Hello world

In [11]:
def add(a,b,c):
  d = a + b + c
  print(d)

add(3,4,5)

12

In [12]:
def get_number():
  a = 123
  return a

b = get_number()
print(b)

123

In [13]:
class Calc:
  def add(self, a,b):
    print(a+b)

  def multiply(self,a,b):
    print(a * b)

cl = Calc()
cl.add(2,3)
cl.multiply(4,5)

5
20

In [14]:
class Box:
  def set_number(self,n1,n2):
    self.num1 = n1
    self.num2 = n2

bx =Box()
bx.set_number(123,456)

print(bx.num1)
print(bx.num2)

bx.num1 = 999
print(bx.num1)

123
456
999

In [15]:
class Dog:
  def set_dog(self,n,a):
    self.name = n
    self.age = a

dog1 = Dog()
dog1.set_dog("Pochi",5)

dog2 = Dog()
dog2.set_dog("Hachi",12)

dogs = [dog1,dog2]
for d in dogs:
  print(d.name, d.age)

Pochi 5
Hachi 12

In [16]:
greetings = "Godd morning! Good night!"

with open("greetings.txt","w") as f:
  f.write(greetings)

with open("greetings.txt","r") as f:
  print(f.read())

Godd morning! Good night!

In [18]:
class Calc:
  def __init__(self,a):
    self.a = a
  def __call__(self,c):
    print(self.a * c + c)
  def add(self,b):
    print(self.a + b)
  def multiply(self,b):
    print(self.a * b)

cl = Calc(3)
cl.add(4)
cl.multiply(4)
cl(5)

7
12
20